@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: hsl(233, 47%, 7%);
    color: white;
}

.card {
    margin: auto;
    margin-top: 13%;
    margin-bottom: 100px;

    display: flex;
    flex-flow: row wrap;
    max-width: 1100px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
}

.card-inner-rigth {
    flex: 1;
    position: relative;
}

.image {
    width: 100%;
    margin-bottom: -4px;
    border-radius: 0px 8px 8px 0px;
}

.overlay-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    filter: opacity(0.6) saturate(4) brightness(0.4);
    background-color: hsl(277, 42%, 34%);
    border-radius: 0px 8px 8px 0px;
}

.card-inner-left {
    flex: 1;
}

.card-info {
    margin: 70px;
}

.card-info-description {
    max-width: 380px;
    margin-bottom: 70px;
}

.card-info-description > h1 {
    margin: 0;
    font-size: 35px;
}

.color-word {
    color: hsl(277, 64%, 61%);
}

.card-info-description > p {
    margin-top: 27px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
}

.card-info-count {
    display: flex;
    flex-flow: row wrap;   
}

.card-count-item {
    flex: 1;
}

.card-count-numbers {
    font-size: 23px;
    font-weight: 700;
}

.card-count-text {
    margin-top: 8px;
    
    font-family: 'Lexend Deca', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

@media (max-width: 1100px) {
    .card {
        max-width: 500px;
        flex-flow: column-reverse wrap;
    }

    .image {
        border-radius: 8px 8px 0px 0px;
    }

    .overlay-img {
        border-radius: 8px 8px 0px 0px;
    }

}

@media (max-width: 500px) {
    .card {
        margin-top: 80px;
        max-width: 320px;
        flex-flow: column-reverse wrap;
    }

    .card-info {
        margin: 30px;
        text-align: center;
    }

    .card-info-description {
        margin-bottom: 0px;
    }

    .card-info-description > h1 {
        margin: 0;
        font-size: 26px;
    }

    .card-info-description > p {
        margin-top: 20px;
    }

    .card-info-count {
        margin-top: 0;
        display: flex;
        flex-flow: column wrap;   
    }

    .card-count-item {
        flex: 1;
        margin-top: 30px;
    }
}

@media (max-width: 375px) {
    .card {
        margin-top: 80px;
        max-width: 320px;
        flex-flow: column-reverse wrap;
    }

    .card-info {
        margin: 30px;
        text-align: center;
    }

    .card-info-description {
        margin-bottom: 0px;
    }

    .card-info-description > h1 {
        margin: 0;
        font-size: 26px;
    }

    .card-info-description > p {
        margin-top: 20px;
    }

    .card-info-count {
        margin-top: 0;
        display: flex;
        flex-flow: column wrap;   
    }

    .card-count-item {
        flex: 1;
        margin-top: 30px;
    }

}